*,
*::before,
*::after {
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
}

.container {
  background-color: green;
}

body {
  margin: 0;
}

.score {
  width: 100%;
  background-color: yellow;
  height: 70px;
  margin-bottom: 0;
  color: black;
  line-height: 70px;
  text-align: center;
}

.game {
  width: 400px;
 
  min-height: 600px;
  position: relative;
  background-color: black;
  margin: auto;
}

.starts {
  background-color: red;
  padding: 20px;
  color: wheat;
  height: 150px;
  width: 600px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  top: 30%;
  z-index: 1;
}

.hide {
  display: none;
}

.car,.oppcar {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 80%;
}

.fa-car {
  font-size: 70px;
  color: blue;
  display: block;
  text-align: center;
}

.line {
  background-color: white;
  height: 100px;
  position: absolute;
  width: 16px;
  margin-left: 47%;
}
